.fg-menu ul {
	height:auto !important;
}



ul.fg-menubar {

}

ul.fg-menubar.fg-menubar-vert {
	list-style : none;
	clear:both;
	display:table
}






ul.fg-menubar > li {

}

ul.fg-menubar.fg-menubar-vert > li {
	display: list-item;
	margin: 2px 0;
}





ul.fg-menubar > li > a > span.ui-icon {
	float: right;
}

ul.fg-menubar.fg-menubar-vert > li > a > span.ui-icon {

}






ul.fg-menubar > li ul {

}

ul.fg-menubar.fg-menubar-vert > li ul {

}




ul.fg-menubar > li li {

}

ul.fg-menubar.fg-menubar-vert > li li {

}
.fg-menubar.ui-state-default, .fg-menubar.ui-widget-content .fg-menubar.ui-state-default, .fg-menubar.ui-widget-header .fg-menubar.ui-state-default {
    background: #0088CC;
    border: 1px solid #D3D3D3;
    color: #FFF;
    font-weight: normal;
}
.ui-state-default a, .ui-state-default a:link, .ui-state-default a:visited {
    color: #FFF;
    text-decoration: none;
}
.ui-widget {
    font-family: Verdana,Arial,sans-serif;
    font-size: 12px;
}
.ui-button {
    cursor: pointer;
    display: inline-block;
    margin-right: 0.1em;
    overflow: visible;
    padding: 0;
    position: relative;
    text-align: center;
    text-decoration: none !important;
}
li {
    line-height: 20px;
}
a.ui-button-text > span{
	color: #FFF;
}
