@charset "utf-8";
/* CSS Document */
#content_from_right.imgBannerBorder{
	border:solid 22px #D5D7D6;
	border-right-color:#00AFDE;
	display:block !important;
	height:248px;
    margin-right:33px;
	margin-top:-70px;	 /* 296 - 44 */
}
div#footer{
	width:auto;
}
div#fhr1{
	margin-left:-20px;
	margin-right:-20px;
}
div#footer_inside_center{
	padding-bottom:16px;
}
input#keywords{
	width:98%;
}
/*,
input#seek_it{
	display:inline;
}*/
div#main_submenu{
	top:158px;
	/*width:1022px;*/
}
div#ieSlidesHolder{
	padding:20px 10px;
	padding-bottom:0;
	padding-left:20px;
}
div#inner_left_menu a{
	color:#06aedd;
}
td#leftOL{
	padding-left:40px !important;
}
td#leftOL ol.insideDiv{
	margin-left:-20px;
}
table#tblSlides{
	margin-top:0;
	margin-left:10px;
}
table#tblSlides td{
	padding-left:12px;
	padding-right:12px;
}
table#tblSlides td#sTd1{
	/*padding-left:17px;
	padding-right:17px;*/
}
td#rightBanner{
	padding-right:10px;
}
#why_open{
	margin-left:auto;
	margin-top:10px;
}
