@charset "utf-8";
/* CSS Document */
/******** Для элементов всех макетов: ********/
div#inner_content{
	width:100%;
}
div#inner_content .clear{
	float: none;
	width: 100%;
}
div#inner_content
	> div > div{
	padding: 10px;
	padding-left: 8px;
}

div#inner_content
	> div > div .subsectHeader{
	font-size:16px;
	margin:0;
}
div#inner_content
	> div > div .contentHeader{
	color:#06AEDD;
	font-size:16px;
	margin:0;
	margin-bottom:30px;
}
div#div1{
	float:left;
}

/******** Для индивидуальных макетов: ********/

div.schema100,
	div.schema100> div{
	width:100%;
}

div.schema200 > div#div1,
div.schema200 > div#div2{
	width:50%;
}
	div.schema200 > div#div2{
		float:right;
	}

div.schema210 > div{
	width:50%;
}
	div.schema210 > div#div2,
	div.schema210 > div#div3{
		float:right;
	}

div.schema300 > div{
	float:left;
	width:33%;
}
	div.schema300 > div#div3{
		width:34%;
	}

div.schema3i0 > div{
	float:left;
	width:33%;
}
	div.schema3i0 > div#div1{
		 margin-right:-33%;
	}
	div.schema3i0 > div#div2,
	div.schema3i0 > div#div4{
		 margin-left:33%;
	}
	div.schema3i0 > div#div3{
		float:right;
		width:34%;
	}

div.schema3s0 > div{
	float:left;
	width:33%;
}
	div.schema3s0 > div#div1{
		margin-right:-33%;
	}
	div.schema3s0 > div#div2{
		margin-left:33%;
		width:67%;
	}
	div.schema3s0 > div#div3{
		margin-left:33%;
	}
	div.schema3s0 > div#div4{
		width:34%;
	}

div.schema3ss > div{
	float:left;
	width:33%;
}
	div.schema3ss > div#div1{
		margin-right:-33%;
	}

	div.schema3ss > div#div2,
	div.schema3ss > div#div5{
		width:67%;
	}

	div.schema3ss > div#div4{
		width:34%;
	}
	div.schema3ss > div#div2,
	div.schema3ss > div#div3,
	div.schema3ss > div#div5{
		margin-left:33%;
	}

div.schema30s > div{
	float:left;
	width:33%;
}
	div.schema30s > div#div1{
		margin-right:-33%;
	}
	div.schema30s > div#div2,
	div.schema30s > div#div4{
		margin-left:33%;
	}
	div.schema30s > div#div3{
		width:34%;
	}
	div.schema30s > div#div4{
		width:67%;
	}
