@charset "utf-8";
/* CSS Document */
.gallery {
}
.gallery button{
	border:0;
	margin:0;
	padding:0;
	width:10px;
}
.gallery ul img,
.gallery ul li div.linkArea {
	height:203px;
	width:296px; 
}
.gallery li{
	margin:0 11px;
}
div.linkArea{
	background:#FF0;
	position:absolute; 
	opacity:0.5;
}
table#tblSlides{
	background:#EDEEF0;
	margin:0 -20px;
	width:100%;
}
table#tblSlides td{
	padding:10px 0;
}
table#tblSlides tbody >tr:first-child td{
	padding-top:20px;
}
