@charset "utf-8";
/* CSS Document */
body,html{
	background:#FFF;
}
.margin0{
	margin:0;
}
.marginBottom4{
	margin-bottom:4px;
}
.padding10{
	padding:10px;
}
.borderRadius{
	border:solid 2px #CCC;
	border-radius:6px;
}
.bgLightGrey{
	background:#EEE;
}
