@charset "utf-8";
/* CSS Document */
div.blockMail{
	font-size:13px;
}
div.blockMail input[type="text"],
div.blockMail textarea{
	border:solid 1px #CCC;
	border-radius:2px;
	display:block;
	margin:4px 0;
	padding:2px 4px;
	width:90%;
}
div.blockMail input[type="submin"],
div.blockMail button{
	margin-top:8px;
} 
div#inner_left_menu {
	background:none; 
	box-shadow:none; 
	max-width: 955px;
	width:100%; 
}
div#inner_left_menu a{
	color:#666;
}
div.mainWrapper 
	> div > a,
blockquote div a{
	font-size:11px !important;
}
div.separator2{
	margin-top:10px !important;
	margin-bottom:-4px !important;
}
div.separator2,
div.separator2 > div{
	background:#666;
	height:10px;
	padding:0 !important;
	margin:0;
}
div.separator2 > div{
	width:50%;
	background:#06AEDD;
}
h4{
	font-size:15px;
	font-weight:400;
	margin-bottom:10px;
}
div.mainWrapper{
	margin-left:40px;
}