@charset "utf-8";
/* CSS Document */
div.content_right 
	div#myModal.modal.fade.in
		div.modal-body{
	max-height:460px !important;
}
div#chHeaders,
div#psFooter{
display:none;
}
div.DivStuff{
	padding:6px;
}

div#mng{
	border:solid 4px #C3D9FF;
	border-radius:5px;
	margin-top:10px;
	padding-bottom:5px;
	padding-left:6px;
}

div#select_mod > div{
	background:#FFEBCC; 
	border-radius:5px;
	cursor:pointer;
	display:inline-block;
	margin: 4px 4px 4px 0;
	padding:6px 8px;
}
div#select_mod > div.mod_type_text{
	background: #FFF;
	border:solid 2px #F90;
	padding:4px 6px;
}
div#select_mod > div:hover{
	background:#F90;/*	66C	*/
	color:#FFF;
}
div#select_mod > div.mod_type_text:hover{
	background:#FFEBCC;
	color:#08C;
}
div#select_mod > div.mod_type_text{
	background: #FFF;
	border:solid 2px #F90;
	padding:4px 6px;
}
div#txtChoice div{
	margin-top:6px;
}
div#txtActions >div{
	line-height:43px;
}
div#txtActions >div:first-child{
	padding-top:4px;
}
div#txtActions div:last-child,
div#txtActions, 
div#txtChoice,
div#currentChoice,
div#txtChoice > div div{
	display:inline-block;
}
div#currentChoice span{
	display:block;
}
div#txtChoice >div div{ /*  */
	height:26px;
	width:35px;
	margin:0 0 0 6px;
}
div.oneColumn,
div.twoColumn,
div.threeColumn,
div.fourColumn,
div#txtChoice
	>div:first-child +div div,
div#txtChoice 
	>div:last-child div {
	background-image:url(img/add-sectiion.gif);
	background-repeat:no-repeat;
	border:solid 3px #C3D9FF;
	border-radius:2px;
	cursor:pointer;
	padding:2px;
}
div.threeNoneShared{
	background-position:1px -115px;
}
div.threeSharedShared{
	background-position:1px -86px;
}
div.fourNoneInside{
	background-position:-37px -115px;
}
div.fourNoneShared{
	background-position:-74px -115px;
}
div.fourInsideInside{
	background-position:-37px -86px;
}
div.fourSharedShared{
	background-position:-75px -86px !important;
}
div.oneColumn{
	background-position:1px 1px;
}
div.twoColumn{
	background-position:-37px 1px;
}
div.threeColumn{
	background-position:-75px 1px;
}
div.fourColumn{
	background-position:1px -28px;
}
div.twoColumnSubheader{
	background-position:-37px -28px;
}
div.threeColumnInside{
	background-position:-75px -28px;
}
div.threeColumnShared{
	background-position:1px -57px;
}
div.fourColumnInside{
	background-position:-37px -57px;
}
div.fourColumnShared{
	background-position:-75px -57px;
}
div#txtActions > div:first-child +div,
div#txtActions > div:last-child{ /*	вверх не переносить, иначе возникнет конфликт отображения блока!*/
	margin-top:-4px;
display:none; 
}
div#currentChoice{
	background:#CEEFFF;
	border-radius:2px;
	display:inline-block;
	min-height:24px;
	margin-left:20px;
	margin-top:8px;
	/*opacity:0;*/
	padding:6px 10px 6px 8px;
	vertical-align:top;
	width:45%;
}

div#sel_modules{
	display:none;
	/*opacity:0;*/
	padding:4px;
}
div#sel_modules li{
	color:#006394;
	font-size:1.2em;
	line-height:20px;
	margin-bottom:2px;
	margin-left:8px;
}
div#save_tmpl_block{
	display:none;
	margin-top:12px;
}

div#save_tmpl_block blockquote{
	margin-left: 4px;
	border-left: solid 3px #C3D9FF;
}

div#save_tmpl_block label span{
	border-radius: 3px;
	padding: 4px 10px 4px 6px;
	margin-left: -6px;
}
div#save_tmpl_block label span.selLabel{
	background:#08C;
	color:#FFF;
}
div#save_tmpl_block input[type="radio"]{
	margin-right:6px;
	margin-top:-4px;
}

div#save_tmpl_block h4{
	margin-bottom:8px;
}

.selStrong{
	background:#08C;
}
.selWeak{
	background:#C3D9FF;
}
div#tmpl_commands{
	display:none;
	/*opacity:0;*/
}
div#tmpl_commands button{
	border:solid 3px #08C;/*CCC*/
	border-radius:5px;
	margin:10px 4px 10px 0;
	padding:4px 18px;
}
div#tmpl_commands button.active{
	background:#CEEFFF;
	color:#08c;
}
div#tmpl_commands button.passive{
	color:#999;
	/*opacity:0.4;*/
}
div#tmpl_commands button:hover{
	text-decoration:underline;
}

div#tmplPlace{
	border:solid 2px #08C;/*CCCCCC*/
	border-radius:5px;
	display:none;
	/*opacity:0;*/
	overflow:auto;
}

div#tmplPlace > div{
	margin:4px;
}

div#tmplInner{
	border:dashed 2px #08C;
	height:450px;
}
div#tmplPlace div.column{
	border: dashed 2px #08C;
}
div#tmplPlace div.column > div{
	padding:6px;
}

/*	СТИЛИ СХЕМЫ МАКТЕТА	*/
div[footer]{
	border-top:dashed 2px #08C;
}

div.column3center,
div.column3right,
div.header3inside,
div.left3{
	width:212px;/*58	+++*/
}
div.column4{
	width:156px;/*41	+++*/
}

div.column4last{
	width:156px;/*42	+++*/
}

div.column4,
div.column3center,
div.header3inside,
div.hf4Inside,
div[class*="left"]{
	border-right:dashed 2px #08C;
}

div.hf4Inside[footer]{
	margin-right:2px; /*	иначе - непонятный косяк с нижним блоком (псевдофутером) для 4-х колонок	*/
}

div.column4[right]{
	border-right: none;
}

div.hColMiddle{
	height:350px;/*151	+++*/
}
div.hColMiddleLong{
	height:510px;
}
div.hColShort{
	height:268px;/*110	+++*/
}

div[header]{
	border-bottom:dashed 2px #08C;
}

div[header]{
	height:72px;/*32*/
}
div[footer]{
	height:232px;/*32*/
}
div.hFull,
div[left]{
	height:592px;/*192*/
}

div.first{
	height:600px;/*200	+++*/
	border:dashed 2px #08C;
	display:inline-block;
	margin-top:6px;
	margin-right:6px;
	width:664px; /*200*/
}

div.first div { /* ? */
	padding:4px;
}

div.column4,
div.column3center,
div.header3inside,
div[class*="left"],
div[header]{
	float:left;
}

h4{
	margin:20px 0;
	padding-bottom:10px;
}

div.hf3Shared{
	width:434px;/*125	+++*/
}

div.hf4Shared{
	width:490px;/*142	+++*/
}

div.hf4Inside,
div.left2{
	width:322px;/*91	+++*/
}

div[right], 
div.right2,
div.column4last,
div[footer]{
	float:right;
}

div.right2{
	width:322px;/*92	+++*/
}
width100{
	width:100%;
}
/*	Стили для модулей, размещаемых внутри колонок макета	*/

div.innerModule{
	background-color: #F90;
	border-radius: 8px 8px 8px 8px;
	box-shadow: 2px 2px 6px 1px #999;
	color: white;
	margin: 0 13px 6px 10px;
	min-height: 38px;
	position:relative;
}
div.innerModule a,
.link{
	color:#0000FF;
}
div.innerModule a:hover,
.link:hover{
	cursor:pointer;
	text-decoration:underline;
}
div.mod_content{
	color:#FFF;
	line-height:16px;
	margin-left:2px;
	margin-right:14px;
}

div.mod_trash{
	bottom:2px;
	position:absolute;
	right:0;
}