@charset "utf-8";
/* CSS Document */
a, h1, h2, h3, h4, h5{
	font-family:Arial, Helvetica, sans-serif;
}
hr {
	border-bottom-color:#CCCCCC;
	border-top-color:#CCCCCC;
}
div#save_tmpl_block,
div#save_tmpl_block *{
	text-align:left;
}
table.tblMainMenu td{
	background: #08C;
	border-radius: 6px;
	border: solid 1px white;
	display: table-cell !important;
	list-style: none;
	padding: 4px 8px;
	text-align: center !important;
}
table.tblMainMenu td a{
	color:#FFF;
	font-family:Arial, Helvetica, sans-serif;
}
table.tblMainSubMenu{
	display:inline;
	margin-top:0px;
	width:auto;
}
table.tblMainSubMenu td{
	background: #A8CADB;
	border: solid 1px white;
	border-radius: 4px;
	display:inline-block;
	padding:4px 24px;	
	text-align: center !important;

}
table.tblMainSubMenu td a{
	color:#FFF;
}